<h1>New product</h1>

<% if @product.errors.any? %>
  <h3>Oops there were some errors. Please try again:</h3>
  <ul>
    <% @product.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :cost %>
  <%= f.text_field :cost %>
  <%= f.label :country %>
  <%= f.text_field :country %>
  <%= f.submit  %>
<% end %>

<div class="container">
  <h2>All Products</h2>
  <% @products.each_slice(3)  do |product| %>
    <div class="row">
    <% @products.each  do |product| %>
      <div class="col-sm-6 col-lg-4">
        <img src="<%= '/assets/rails.jpeg' %>" class="img-responsive">
        <h2><%= link_to product.name, product_path(product) %></h2>
      </div>
    <% end %>
    </div>
  <% end %>
</div>
<!--
<% if @products.any? %>
  <h3>All Products</h3>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% end %> -->


<%= link_to "Home", products_path%>
